* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: headers;
    src: url(./components/assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: paragraph;
    src: url(./components/assets/fonts/Open_Sans/static/OpenSans-Light.ttf)
}

body {
    background-color: beige;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    color: black;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
    z-index: 1;
}

input[type=text] {
    padding: 0.5em;
    font-size: 25px;
    border: none;
    border-radius: 5px 5px 0 0;
    background-color: azure;
    outline: none;
}

textarea {
    resize: none;
    height: 300px;
    background-color: azure;
    border: none;
    margin-top: 0;
    border-radius: 0 0 5px 5px ;
    outline: none;
}

h2, h3, h4 {
    font-family: headers;
    font-size: 20px;
}

p {
    font-family: paragraph;
    font-size: 16px;
}

.btn {
    padding: 0.2em;
    border: none;
    border-radius: 5px;
    margin: 2px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
}

.edit-btn {
    background-color: blue;
}

.add-entry-btn {
    background-color: blue;
}

.container {
    width: 100%;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgreen;
    color: black;
    height: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    overflow: auto;
    user-select: none;
}

.list:hover {
    position: relative;
    top: 5px;
    box-shadow: 4px 4px 5px gray;
}

.form-btn-cont {
    display: flex;
    Justify-content: end;
    border: none;
    border-radius: 0 0 5px 5px;
    margin-top: 0;
}

.list-btn-cont {
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: 0;
}